:root {
  --ms-font-family-sans:
    "Iowan Old Style", "Palatino Linotype", "Book Antiqua", Palatino, Georgia,
    serif;
  --ms-font-family-mono:
    "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  --ms-font-size-sm: 0.8125rem;
  --ms-font-size-md: 0.9375rem;
}
