:root {
  --ms-font-family-sans:
    "Avenir Next", "SF Pro Text", "Segoe UI Variable Text", "Helvetica Neue",
    sans-serif;
  --ms-font-family-mono:
    "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  --ms-font-size-xs: 0.75rem;
  --ms-font-size-sm: 0.8125rem;
  --ms-font-size-md: 0.9375rem;
  --ms-font-size-lg: 1rem;
}
