:root {
  --ms-font-family-sans:
    "Avenir Next", "SF Pro Text", "Segoe UI Variable Text", "Helvetica Neue",
    sans-serif;
  --ms-font-family-mono:
    "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  --ms-font-scale: 0.8;
  --ms-font-size-md: calc(0.9375rem * var(--ms-font-scale));
  --ms-font-step: 1px;
  --ms-font-size-xs: calc(var(--ms-font-size-md) - (var(--ms-font-step) * 2));
  --ms-font-size-sm: calc(var(--ms-font-size-md) - var(--ms-font-step));
  --ms-font-size-lg: calc(var(--ms-font-size-md) + var(--ms-font-step));
}
